---
import Layout from "../layouts/default.astro";
---
<Layout>
	<div className="flex items-center">
		<div className="h-24 w-24 overflow-hidden rounded-full border border-subtle">
		</div>
		<div className="">
			<h2 className="text-3xl"> Cameron J Moore </h2>
			<p className="text-5md"> Front-End Developer | Full-Stack Interloper</p>
		</div>
	</div>
</Layout>
