---
import Layout from "../layouts/default.astro";
---
<Layout>

	<div className="flex items-center">
		<h1 class="self-start px-3 py-1 w-full bg-abyss2 bg-opacity-60 backdrop-blur-sm rounded-md">
			Projects
		</h1>
	</div>

</Layout>
