---
import Icon from "./Icon/Icon.astro";
---
<div class="w-12 h-12 bg-subtle/20 border border-subtle/30 rounded-full px-2 flex items-center justify-center group-hover:border-subtle transition-colors">
  <Icon name="theme"/>
</div>
