---
import Nav from "../components/Nav.astro";
import "../styles/main.css";
---

<!DOCTYPE html>
<html lang="en" class="bg-gradient-to-b from-base to-deep min-h-screen font-sans">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cameron Moore Full-Stack Developer</title>
  </head>
  <body class="min-h-screen bg-base bg-top bg-no-repeat max-w-4xl mx-auto">
    <div class="border-2 border-base max-w-4xl mx-auto h-20 flex items-center justify-center">
      <Nav />
    </div>
    <main class="border-2 border-base max-w-5xl mx-auto mt-8 px-4 sm:px-8 lg:px-12">
      <section class="border-2 border-base max-w-2xl lg:max-w-5xl mx-auto mb-12 flex justify-center">
        <slot />
      </section>
    </main>
  </body>
</html>

